## 题目一

### 1、

In [7]:
ans = []
for i in range(100):
    if i % 2 == 0:
        ans.append(i)
        
print(ans)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

### 2、

In [8]:
ls = ["a", "b", "c", "d", "e"]

In [9]:
ls[2]

'c'

In [10]:
ls[-3]

'c'

In [11]:
ls[1::2]

['b', 'd']

In [12]:
ls[::-1]

['e', 'd', 'c', 'b', 'a']

### 3、

In [20]:
cars = ["BYD", "GEELY"]

In [21]:
cars.append("TOYOTA")
cars

['BYD', 'GEELY', 'TOYOTA']

In [22]:
cars.insert(1, "CHERY")
cars

['BYD', 'CHERY', 'GEELY', 'TOYOTA']

In [23]:
cars.extend(["BMW", "BENZ"])
cars

['BYD', 'CHERY', 'GEELY', 'TOYOTA', 'BMW', 'BENZ']

In [24]:
cars.pop()
cars.remove(cars[3])
cars

['BYD', 'CHERY', 'GEELY', 'BMW']

In [25]:
cars.remove("GEELY")
cars

['BYD', 'CHERY', 'BMW']

In [26]:
cars.index("BMW")

2

In [27]:
cars[1] = "QQ"
cars

['BYD', 'QQ', 'BMW']

In [30]:
cars1 = cars.copy()
cars

['BYD', 'QQ', 'BMW']

In [31]:
cars2 = cars[:]
cars2

['BYD', 'QQ', 'BMW']

In [32]:
sorted(cars)

['BMW', 'BYD', 'QQ']

In [33]:
cars

['BYD', 'QQ', 'BMW']

In [34]:
cars.sort()

In [35]:
cars

['BMW', 'BYD', 'QQ']

In [36]:
cars[::-1]

['QQ', 'BYD', 'BMW']

In [37]:
for i in cars:
    print("My first car is {}".format(i))

My first car is BMW
My first car is BYD
My first car is QQ

## 题目二

In [38]:
food = ["bread", "fish", "potato"]
prices = [2.4, 9.8, 0.9]

In [39]:
for food, price in zip(food, prices):
    print("The price of {} is {}".format(food, price))

The price of bread is 2.4
The price of fish is 9.8
The price of potato is 0.9

## 题目三

In [40]:
favorite_fruits = {"Judy": "watermelon", "Jen": "banana", "Sarah": "orange" }

In [41]:
len(favorite_fruits)

3

In [42]:
favorite_fruits["Jen"]

'banana'

In [43]:
favorite_fruits["Tom"] = "peach"
favorite_fruits

{'Judy': 'watermelon', 'Jen': 'banana', 'Sarah': 'orange', 'Tom': 'peach'}

In [44]:
favorite_fruits["Bob"] = "Tomato"
favorite_fruits

{'Judy': 'watermelon',
 'Jen': 'banana',
 'Sarah': 'orange',
 'Tom': 'peach',
 'Bob': 'Tomato'}

In [45]:
favorite_fruits.pop("Judy")
favorite_fruits

{'Jen': 'banana', 'Sarah': 'orange', 'Tom': 'peach', 'Bob': 'Tomato'}

In [46]:
v = favorite_fruits.popitem()
v
favorite_fruits

{'Jen': 'banana', 'Sarah': 'orange', 'Tom': 'peach'}

In [47]:
favorite_fruits["Sarah"] = "watermelon"
favorite_fruits

{'Jen': 'banana', 'Sarah': 'watermelon', 'Tom': 'peach'}

In [48]:
for k, v in favorite_fruits.items():
    print("{}’favorite fruit is{}".format(k, v))

Jen’favorite fruit isbanana
Sarah’favorite fruit iswatermelon
Tom’favorite fruit ispeach

In [49]:
s = "八百标兵奔北坡，北坡八百炮兵炮。标兵怕碰炮兵炮，炮兵怕把标兵碰。"

In [50]:
d = {}
for i in s:
    d[i] = d.get(i, 0) + 1
d

{'八': 2,
 '百': 2,
 '标': 3,
 '兵': 6,
 '奔': 1,
 '北': 2,
 '坡': 2,
 '，': 2,
 '炮': 5,
 '。': 2,
 '怕': 2,
 '碰': 2,
 '把': 1}

## 题目四

In [59]:
vegetables = {"tomato", "cabbage", "cucumber", "meat"}
fruits = {"banana", "orange", "tomato", "cucumber"}

In [60]:
vegetables.remove("meat")
vegetables

{'cabbage', 'cucumber', 'tomato'}

In [61]:
vegetables.add("eggplant")
vegetables

{'cabbage', 'cucumber', 'eggplant', 'tomato'}

In [62]:
vegetables & fruits

{'cucumber', 'tomato'}

In [63]:
vegetables | fruits

{'banana', 'cabbage', 'cucumber', 'eggplant', 'orange', 'tomato'}

In [64]:
vegetables ^ fruits

{'banana', 'cabbage', 'eggplant', 'orange'}

In [65]:
vegetables - fruits

{'cabbage', 'eggplant'}